* {
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(37, 37, 37)
}

header {
    color: rgb(37, 37, 37);
    background-color: whitesmoke;
    height: 75px;
    z-index: 998;
    position: fixed;
	top: 0;
	width: 100%;
}

#logo {
    color: whitesmoke;
    font-size: 300%;
    float: left;
    padding: 20px;
}

#logo a {
    text-decoration: none; 
}

#logo-background {
    height: 100px;
    width: fit-content;
    background-color: rgb(37, 37, 37);
    margin-left: 100px;
    float: left;
    position: absolute;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    border-radius: 2px;
}

#menu {
    font-size: 150%; 
}

#menu li {
    list-style-type: none;
    margin-right: 50px;
    float: right;
}

#menu, #logo-background, #logo  {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/*section1: main picture + slogan*/
#pushup-wondow {
    height: 600px;
    width: 100%;
    position: relative;
}

#pushup-image {
    height: 600px;
    width: 100%;
    background: url('../images/man-g61b001b6d_1920.jpg') no-repeat center center;
}
