* {
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3, p {
    letter-spacing: 5px;
    text-transform: uppercase;
}

header {
    color: rgb(37, 37, 37);
    background-color: whitesmoke;
    height: 110px;
    z-index: 998;
    position: fixed;
	top: 0;
	width: 100%;
}

#logo {
    color: whitesmoke;
    font-size: 300%;
    float: left;
    padding: 20px 20px 10px 20px;
}

#logo a {
    text-decoration: none;
}

#logo-background {
    height: 130px;
    width: fit-content;
    background-color: rgb(37, 37, 37);
    margin-left: 100px;
    float: left;
    position: absolute;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    border-radius: 2px;
}

#logo-background p {
    color: whitesmoke;
    font-size: 150%;
    text-align: center;
    padding-bottom: 20px;
}

#menu {
    font-size: 150%; 
}

#menu li {
    list-style-type: none;
    margin-right: 50px;
    float: right;
}

#menu {
    line-height: 120px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/*section1: main picture + slogan*/
#pushup-wondow {
    height: 585px;
    width: 100%;
    position: relative;
}

#pushup-image {
    height: 585px;
    width: auto;
    background: url('../images/man-g61b001b6d_1920.jpg') no-repeat center center;
    position: relative
}

/********slide show**********/
/* .container {
    position: relative;
    height: 600px;
    
  }
  
  /* Hide the images by default */
 /*  .mySlides {
    display: none; 
  }*/
  /******slide show*********/

  /************Section2 Slogan******************/
#slogan {
    height: 585px;
    color: rgb(37, 37, 37);
    background-color: whitesmoke;
}
#slogan h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 200%;
}

#left-block {
    padding-top: 40px;
    width: 40%;
    
    margin-left: 50px;
}

#right-block {
    padding-top: 40px;
    width: 40%;
    
    margin-left: 50px;
}

#center-block {
    padding-top: 40px;
    width: 40%;
    
    margin-left: 50px;
}
    /*float center gibt es nicht*/

hr {
    border-top: 1px solid rgb(37, 37, 37);
    width: 100%;
    margin: 5px 0;
}

/* .left-heading {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-heading {
    width: 60%;
    /* float: left; */
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
} */